.body {
    width: 100%;
    margin: 0 auto;
    font-family: 'open sans', sans-serif;
}

.nav-bar {
    height: 115px;
    width: 100%;
    background-color:  rgb(51, 102, 0);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width:30%;
    height: 75%;
    margin-top: 15px;
    margin-left:20px ;
}

.nav-list{
    float:right;
}

.list-item{
    height: 40px;
    float: left  ;
    margin-top: 15px;
    margin-right: 40px;
    list-style-type:none;
    }

.list-item  a{
    text-decoration: none;
    color: rgb(230, 230, 230);
    }
    
.list-item a:hover{
    color: #797171
}

/*---------End of Nav-Bar-----*/


.about-col {
    width: 31%;
    height: 550px;
    text-align:center;
    border: 2px solid #797171;
    margin:7px;
    margin-top: 200px;
    padding:5px;
    float: left;
    
}

.about-container { 
    height:800px;
    width:100%;
}

.about-img {
    width: 100%;
    height: 50%;
}

.about-audio{
    margin-top:55%;
}

/*--------End of About Section---------*/


.footer{
    width:100%;
    height: 80px;
    background-color: #e98e33
}



.footer-col-submit {
    width:33%;
    float: left;
    margin-top:3.5%;
    margin-left:20px;
}

.footer-col-sc {
    width: 15%;
    font-size: 25px;
    float:left;
    display:inline;
    margin-top:3.5% ;
    margin-left: 100px;
}

.footer-col-copy {
    width:23%;
    float:left ;
    display:inline;
    margin-top:2.7% ;
    margin-left: 220px;
}

.fa-facebook-square {
    color: #0843c3;
}

.fa-instagram {
    color: #b3038d;
}

.fa-twitter {
    color:#1da1f2;

 
/*----------End of About Page-----*/