.body {
    width: 100%;
    margin: 0 auto;
    font-family: 'open sans', sans-serif;
}

.nav-bar {
    height: 115px;
    width: 100%;
    background-color: rgb(51, 102, 0);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width:30%;
    height: 75%;
    margin-top: 15px;
    margin-left:20px ;
}

.nav-list{
    float:right;
}

.list-item{
    height: 40px;
    float: left  ;
    margin-top: 15px;
    margin-right: 40px;
    list-style-type:none;
    }

.list-item  a{
    text-decoration: none;
    color: rgb(230, 230, 230);
    }
    
.list-item a:hover{
    color: #797171